<!DOCTYPE html>
{% extends 'OfertasLaborales/perfilusuario.html' %}
{% load compress %}
{% load static %}

{% block contenido-items %}
    <section class="perfil-informacion">
        <article>
            <h2>Lorem Ipsum</h2>
            <img src="{% static 'img/user.webp' %}" alt="">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse consequat urna quis ullamcorper bibendum. Praesent facilisis aliquam diam sit amet egestas. In tempor sagittis nulla ac tincidunt. Etiam a nulla eget nulla scelerisque viverra nec et nisl. Mauris lorem nisl, dictum eget dictum sed, sagittis id diam. Phasellus non eros finibus, ullamcorper ex vitae, hendrerit lacus. Maecenas ac sagittis quam. Nullam tincidunt libero eget dignissim tristique. Sed vitae ligula non odio sollicitudin lobortis imperdiet et neque.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse consequat urna quis ullamcorper bibendum. Praesent facilisis aliquam diam sit amet egestas. In tempor sagittis nulla ac tincidunt. Etiam a nulla eget nulla scelerisque viverra nec et nisl. Mauris lorem nisl, dictum eget dictum sed, sagittis id diam. Phasellus non eros finibus, ullamcorper ex vitae, hendrerit lacus. Maecenas ac sagittis quam. Nullam tincidunt libero eget dignissim tristique. Sed vitae ligula non odio sollicitudin lobortis imperdiet et neque.
            </p>
        </article>
    </section>
{% endblock contenido-items %}