<!DOCTYPE html>
{% extends 'base.html' %}
{% load compress %}
{% load static %}

{% block contenido %}
<div class="contenedor">
    <aside class="aside-ofertaslab">
        <nav class="sidebar-ofertaslab">  
            <div class="sidebar-title">
                <h2>Lista de resultados <span><a href="{% url 'inicio' %}">{{regresar}}</a></span></h2>
            </div>      
            <ul class="list-items">
                <h2>Categorias:</h2>
                {% for categoria in Categoria %}
                <li><a href="{% url 'busqueda' categoria.nombre %}">{{categoria.nombre}} <span>{{categoria.ofertalaboral__count}}</span></a></li>
                {% endfor %}
            </ul>
            <ul class="list-items">
                <h2>Facultades:</h2>
                {% for facultad in Facultad %}
                <li><a href="{% url 'busqueda' facultad.nombre %}">{{facultad.nombre}} <span>{{facultad.ofertalaboral__count}}</span></a></li>
                {% endfor %}
            </ul>
            <ul class="list-items">
                <h2>Sedes:</h2>
                {% for sede in Sede %}
                <li><a href="{% url 'busqueda' sede.nombre %}">{{sede.nombre}} <span>{{sede.ofertalaboral__count}}</span></a></li>
                {% endfor %}
            </ul>
        </nav>
    </aside>
    <section class="contenido-ofertaslab">

        {% comment %} Navegación para las ofertas laborales items {% endcomment %}
        <nav class="navbar-ofertaslab">                
            <strong>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16">
                  <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"/>
                </svg>
                <h3>Ofertas laborales:<span>{{filtro}} {{ofertaslaborales.count}} resultados</span></h3>
            </strong>
            <div class="navbar-ofertaslab-items">
                <form action="" method="post" class="form-seach">
                    {% csrf_token %}
                    {{form.busqueda}}
                    <button type="submit">Buscar</button>
                </form>
            </div>
        </nav>
        {% comment %} Fin de la navegación {% endcomment %}

        <main class="taps-ofertaslab">
            <div>
                {% for oferta in ofertaslaborales %}
                <div class="tap-ofertalab">
                    <div>
                        <img src="{% static 'img/oferta.png' %}" alt="img">
                    </div>
                    <div class="tap-contenido">
                        <h3>{{oferta.area_de_trabajo}}</h3>
                        <ul>
                            <li>Cargo solicitado: {{oferta.cargo_solicitado}}</li>
                            <li>Nivel de experiencia ideal: {{oferta.nivel_experiencia}}</li>
                            <li>Salario base: ${{oferta.salario_minimo}}</li>
                            <li>Vancantes disponibles: {{oferta.vacantes}}</li>
                            <li>{{oferta.sede.nombre}} {{oferta.sede.ciudad}} {{oferta.sede.departamento}}</li>
                        </ul>
                        <a href="{% url 'solicitud' oferta.pk %}">Ver oferta</a>
                    </div>  
                </div>
                {% endfor %}
            </div>
        </main>
    </section>
</div>
{% endblock contenido %}


