<!DOCTYPE html>
{% extends 'base.html' %}
{% load compress %}
{% load static %}

{% block contenido %}
<div class="contenedor">
    <aside class="aside-ofertaslab">
        <nav class="sidebar-ofertaslab">  
            <div class="sidebar-title">
                <h3>Mostrar resultador por...</h3>
            </div>      
            <ul class="list-items">
                <h3>Categorias:</h3>
                {% for categoria in categorias %}
                <li><a href="/">{{categoria.nombre}}</a></li>
                {% endfor %}
            </ul>
            <ul class="list-items">
                <h3>Facultades:</h3>
                {% for facultad in facultades %}
                <li><a href="/">{{facultad.nombre}}</a></li>
                {% endfor %}
            </ul>
            <ul class="list-items">
                <h3>Sedes:</h3>
                {% for sede in sedes %}
                <li><a href="/">{{sede.nombre}}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </aside>
    <section class="contenido-ofertaslab">
        <nav class="navbar-ofertaslab">

        </nav>
        <main class="contenido-ofertaslab">

        </main>
    </section>
</div>
{% endblock contenido %}

