@use 'fonts-colors';
@use 'base';

.navegacion-admin{
    @extend .caja-presentacion !optional;
    background-color: $color-navbar-4;
    height: 40px;
    top: 65px;
    left: 0;
    ul{
        display: flex;
        align-items: center;
    }
    li,a{
        padding: 8px;
        color: $color-texto-1;
    }
}

.contenedor-admin{
    @extend .contenedor !optional;
    margin-top: 105px;
}

.main{
    width: 100%;
}

.presentacion-admin{
    width: 100%;
    height: 100%;
    header{
        height: 40px;
        background-color: $color-navbar-4;
    }
    section{
        width: 100%;
        display: inline-block;
    }
}

.seccion-presentacion{
    text-align: center;
    background-color: $color-general-3;

    h1,svg,p,a{
        color: $color-texto-6;
        font-size: 20px;
        margin: 30px 0;
        @include roboto-normal;
    }
    a,svg{
        display: inline-block;
    }
    svg{
        width: 200px;
        height: 200px;
        color: $color-general-10;
    }
    a{
        width: max-content;
        padding: 10px;
        border-radius: 10px;
        color: #ffffff;
        background-color: $color-btn-3;
    }
    a:hover{background-color: $color-hover-7;}
}

.contenedor-admin-ofertaslab{
    display: flex;
}

.navbar-admin-ofertaslab{
    @extend .caja-presentacion !optional;
    @extend .navbar !optional;
    background-color: $color-navbar-4;
    position: initial;
    height: 40px;
}

.sidebar-admin-ofertaslab{
    @extend .sidebar-perfil !optional;
    background-color: $color-general-9;
    position: initial;
    height: initial;
    min-width: 20%;
    border: 0;

    ul{
        border: 0;
    }
    a:hover{
        background-color: $color-hover-6;
    }
}

.main-admin-ofertaslab{
    background-color: $color-general-3;
    overflow: auto;
}

.contenedor-tabla{
    overflow: auto;
}

.tabla-formularios{
    border: 1px solid $color-border-4;
    border-collapse: collapse;
    min-width: 680px;
    thead{
        background-color: $color-general-10;
        border-bottom: 2px solid $color-border-4;
        color: $color-texto-1;
    }
    th, td{
        text-transform: capitalize;
        text-align: left;
        vertical-align: top;
        border-spacing: 0;
        border-collapse: collapse;
    }
    th{
        padding: 10px; 
    }
    td{
        border: 1px solid $color-border-4;
        padding: 4px 10px; 
    }
    svg{
        width: 20px;
        height: 20px;
        padding: 4px;
    }
}

.btn-table{
    border-radius: 4px;
    margin: 0 2px;
    color: $color-texto-1;
    box-sizing: border-box;
    display: inline-flex;
}

.btn-update-tb{
    background-color: $color-btn-6;
}

.btn-delete-tb{
    background-color: $color-btn-5;
}

.form-eliminar{
    button{
        background-color: $color-btn-5;
    }
}