// Colores generales y estandares
$color-general-1: #F0F0F0;
$color-general-2: #EDEDED;
$color-general-3: #FFFFFF;
$color-general-4: #b0ccff;
$color-general-5: #3742fa;
$color-general-6: #ff6b81;
$color-general-7: #e8f0fe;
$color-general-8: #6633FF;
$color-general-9: #c8d6e5;
$color-general-10: #4834d4;
$color-general-11: #feca57;

$color-general-fondo-1: #F0F0F0;

$color-texto-1: #ffffff;
$color-texto-2: #000000;
$color-texto-3: #3742fa;
$color-texto-4: #eb4d4b;
$color-texto-5: #7A1515;
$color-texto-6: #2f3542;
$color-texto-7: #666666;
$color-texto-8: #999999;

$color-border-1: #CCCCCC;
$color-border-2: #f53b57;
$color-border-3: #6633FF;
$color-border-4: #bdc3c7;

$color-hover-1: #eb4d4b;
$color-hover-2: #130f40;
$color-hover-3: #3742fa;
$color-hover-4: #EDEDED;
$color-hover-5: #6633FF;
$color-hover-6: #4834d4;

$color-navbar-1: #6633FF;
$color-navbar-2: #7A1515;
$color-navbar-3: #74b9ff;
$color-navbar-4: #4834d4;

$color-sidebar-1: #6633FF;
$color-sidebar-2: #7A1515;
$color-sidebar-3: #3742fa;

$color-sidebar-1: #FFFFFF;

$color-bloqueo-1: #000000;

$color-btn-1: #b0ccff;
$color-btn-2: #55efc4;
$color-btn-3: #3333FF;
$color-btn-4: #27ae60;
$color-btn-5: #ff4757;
$color-btn-6: #1e90ff;

//Fuentes que se usaran en la aplicación web
@mixin roboto-normal {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

@mixin roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

@mixin roboto-lighter {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;   
}

@mixin roboto-100 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

@mixin roboto-300 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

@mixin roboto-400 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;   
}

@mixin roboto-500 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

@mixin roboto-700 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

@mixin roboto-900 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;   
}