//Fuentas y colores a utilizar
@use 'fonts-colors';

*{
    padding: 0;
    margin: 0;
    border: 0;
}
html,body{
    height: 100%;
}
body{
    background-color: $color-general-fondo-1;
    font-size: 1em;
}
aside, main, footer, div, nav{
    box-sizing: border-box;
}

ul,li,a,p{
    text-decoration: none;
    list-style-type: none;
}

h1{
    @include roboto-bold;
    font-size: 20px;
}
h2,a{
    @include roboto-normal;
    font-size: 16.5px;
}
h3{
    @include roboto-400;
    font-size: 14px
}
h4,p{
    @include roboto-lighter;
    font-size: 12px;
}
span,label,button,li{
    @include roboto-400;
    font-size: 13.5px;
}

button:hover{
    cursor: pointer;
}