@use 'fonts';
@use 'colors';
@use 'base';

// Estilos para la vista inicio ofertas laborales
.contenedor{
    display: flex;
    padding: 20px;
}

// Estilos para el aside y el sidebar
.aside-ofertaslab{
    display: inline-block;
    margin-right: 20px;}

.sidebar-ofertaslab{
    background-color: $color-general-3;
    border: 1px solid $color-border-1;
    min-width: 270px;
    margin-bottom: 100px;
    box-shadow: 2px 1px 4px 1px $color-border-1;
}

.sidebar-title{
    padding: .5em 2.5em;
    text-align: center;
    border-bottom: 1px solid $color-border-1;
}

.list-items{
    margin: 10px;
    a,span{
        border-radius: 10px;
        font-size: 15px;
    }
    a{
        padding: 4px;
        display: flex;
        align-items: center;
        color: $color-texto-3;
        span{
            margin-left: auto;
            padding: 2px 10px;
            background-color: $color-general-4;
            color: $color-texto-1;
        }
    }
    a:hover{
        font-weight: bold;
        background-color: $color-general-4;
        color: $color-texto-1;
    }
}

//Estilos para el navbar-ofertaslab
.navbar-ofertaslab{
    border: 1px solid $color-border-1;
    background-color: $color-general-3;
    box-shadow: 2px 1px 4px 1px $color-border-1;
    padding: 0 20px;
    display: flex;
    height: 38px;

    strong{
        display: inline-flex;
        align-items: center;
        span{
            margin: 0 4px;
            color: $color-texto-5;
        }
    }

    svg{
        @include width-height(20px,20px);
        margin-right: 4px;
    }
}

.navbar-ofertaslab-items{
    display: flex;
    align-items: center;
    margin-left: auto;

    ul,form{
        margin: 0 5px;   
        display: flex; 
    }

    svg,a{
        padding: 0 4px;
    }

    a{
        display: flex;
        align-items: center;
        font-size: 15px;
        color: $color-texto-2;
    }  
        
    a:hover{
        color: $color-hover-3;
    }
}

.formnavbar-ofertaslab{
    border: 1px solid $color-border-1;
    
    input,button{
        padding: 0 10px;
        height: 24px;
        @include roboto-400;
    }
    button{
        background-color: $color-btn-1;
        color: $color-texto-1;
    }
    button:hover{
        cursor: pointer;
    }
}

// Estilos para las tarjetas de oferta laborales
.taps-ofertaslab{
    margin: 20px;
}

.tap-ofertalab{
    @include width-height(430px,160px);
    border: 1px solid $color-border-1;
    background-color: $color-general-3;
    box-shadow: 2px 1px 4px 1px $color-border-1;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
    div{
        margin-left: 20px;
    }
    img{
        @include width-height(100px,100px);
    }
}

.tap-contenido{
    padding: 10px 0;
    height: 100%;
    display: grid;
    li{
        @include roboto-300;
        font-size: 13.5px;
    }
    a{
        font-size: 15px;
        color: $color-texto-3;
    }
}