// Colores generales y estandares

$color-general-1: #F0F0F0;
$color-general-2: #EDEDED;
$color-general-3: #FFFFFF;

$color-texto-1: #ffffff;
$color-texto-2: #000000;

$color-border-1: #CCCCCC;

$color-hover-1: #eb4d4b;

$color-navbar-1: #6633FF;
$color-navbar-2: #7A1515;

$color-sidebar-1: #FFFFFF;