@use 'fonts';
@use 'colores';

@mixin width-height($width: initial, $height: initial) {
    width: $width;
    height: $height;
}

.presentacion-seccion{
    @include width-height(initial,100px);
    background-color: $color-navbar-1;

    img,h1{
        margin: 10px;
    }
    img{
        @include width-height(60px, 80px)
    }
    h1{ 
        display: flex;
        align-items: center;
        color: $color-texto-1;
    }
}

.caja-navegacion{
    @include width-height(initial,50px);
    background-color: $color-navbar-2;
}

.navbar-principal{
    display: flex;
    width: 100%;
    li{
        margin: 0px 20px;
        color: $color-texto-1;
    }
}

.navbar-right, .navbar-left{
    @include width-height(50%,100%);
}
.navbar-left{
    svg{
        @include width-height(40px, 40px);
        fill: $color-texto-1;
    }
}
.navbar-right{
    justify-content: right;
    a{
        color: $color-texto-1;
    }
}