<!DOCTYPE html>
{% extends 'Administracion/categorias.html' %}
{% load compress %}
{% load static %}

{% block main %}
<div class="">
    <h1>Listado de Cursos</h1>
    <table class="">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            {% for field in model %}
            <tr>
                <td>{{field.pk}}</td>
                <td>{{field.nombre}}</td>
                <td><a href="edicionCurso/{{c.codigo}}">Editar</a></td>
                <td><a href="eliminarCurso/{{c.codigo}}">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main %}