<!DOCTYPE html>
{% extends 'Administracion/ofertaslaborales.html' %}
{% load compress %}
{% load static %}

{% block main %}
<div class="">
    <h1>Listado de Cursos</h1>
    <table class="">
        <thead>
            <tr>
                <th>ID</th>
                <th>Area de trabajo</th>
                <th>Cargo solicitado</th>
                <th>Salario Minimo</th>
                <th>Vacantes</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for ofertalaboral in model %}
            <tr>
                <td>{{ofertalaboral.pk}}</td>
                <td>{{ofertalaboral.area_de_trabajo}}</td>
                <td>{{ofertalaboral.cargo_solicitado}}</td>
                <td>{{ofertalaboral.salario_minimo}}</td>
                <td>{{ofertalaboral.vacantes}}</td>
                <td><a href="edicionCurso/{{c.codigo}}">Editar</a></td>
                <td><a href="eliminarCurso/{{c.codigo}}">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main %}