<!DOCTYPE html>
{% extends 'base.html' %}
{% load compress %}
{% load static %}

{% block contenido %}

<div>
    <nav class="navegacion-admin">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="{% url 'ofertaslaborales' %}">Ofertas Laborales</a></li>
            <li><a href="/">Usuarios</a></li>
        </ul>
    </nav>
    <div class="contenedor-admin">
        {% block main-administracion %}
        
        {% endblock main-administracion %}
    </div>
</div>
{% endblock contenido %}