<!DOCTYPE html>
{% extends 'Administracion/gestionregistros.html' %}
{% load compress %}
{% load static %}

{% block navegacion %}
<nav>
    <ul>
        <li>
            {% if objeto == 'OfertaLaboral' %}
            <a href="{% url 'ofertaslaborales_all' %}">Regresar al inicio</a>
            {% elif objeto == 'Categoria' %}
            <a href="{% url 'categorias_all' %}">Regresar al inicio</a>
            {% elif objeto == 'Facultad' %}
            <a href="{% url 'facultades_all' %}">Regresar al inicio</a>
            {% elif objeto == 'Sede' %}
            <a href="{% url 'sedes_all' %}">Regresar al inicio</a>
            {% endif %}
            
        </li>
    </ul>
</nav>
{% endblock navegacion %}

{% block main %}
<main class="contenedor-form main-admin-ofertaslab">
    <form method="post" class="form-perfil">{% csrf_token %}
        <h3>¿Estas seguros que quieres elimiar <strong>"{{ object }}"</strong> ? Una vez elimina no habra mas registro</h3>
        {{ form }}
        <div>
            <button>Eliminar Registro</button>    
        </div>
    </form>
</main>
{% endblock main %}