<!DOCTYPE html>
{% extends 'Administracion/gestionregistros.html' %}
{% load compress %}
{% load static %}

{% block main %}
<div class="contenedor-tabla">
    
    <table class="tabla-formularios">
        <caption>
            <h2>Tabla de resultados</h2>
            {% if messages %}
            <ul class="messages messages-alert">
                {% for message in messages %}
                    <li><strong>{{ message }}</strong></li>
                {% endfor %}
            </ul>
            {% endif %}
        </caption>
        <thead>
            {% for field in object_list.values %}
                {% if forloop.last %}
                {% for dato in field.keys %}
                    {% if forloop.counter <= 5 %}
                    <th>{{dato}}</th>
                    {% endif %}
                {% endfor %}
                <th>opciones</th>
                {% endif %}
            {% endfor %}
        </thead>
        <tbody>
            {% for field in object_list.values %}
                <tr>
                {% for dato in field.values %}
                    {% if forloop.counter <= 5 %}
                    <td>{{dato}}</td>
                    {% endif %}
                {% endfor %}
                <td>
                    <a class="btn-table btn-update-tb"
                    {% if objeto == 'OfertaLaboral' %}
                    href="{% url 'ofertaslaborales_update' field.id %}"
                    {% elif objeto == 'Categoria'%}
                    href="{% url 'categorias_update' field.id %}"
                    {% elif objeto == 'Facultad'%}
                    href="{% url 'facultades_update' field.id %}"
                    {% elif objeto == 'Sede'%}
                    href="{% url 'sedes_update' field.id %}"
                    {% endif %}>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </a>
                    <a class="btn-table btn-delete-tb"
                     {% if objeto == 'OfertaLaboral' %}
                     href="{% url 'ofertalaboral_delete' field.id %}"
                     {% elif objeto == 'Categoria'%}
                     href="{% url 'categoria_delete' field.id %}"
                     {% elif objeto == 'Facultad'%}
                     href="{% url 'facultad_delete' field.id %}"
                     {% elif objeto == 'Sede'%}
                     href="{% url 'sede_delete' field.id %}"
                     {% endif %}>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                        </svg>
                    </a>
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main %}